@font-face {
  font-family:"d-din";
  src: url("Data/D-DIN.ttf") format("truetype");
}

* {
    font-family: "d-din";
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(white, lavenderblush);
    margin: 0;
    padding: 0;
}

.intro {
    height: 100%;
    position: relative;

    background:
        linear-gradient(
            cyan,
            rgba(255,255,255,0) 
        ),
        linear-gradient(
            -45deg,
            magenta,
            rgba(255,255,255,0) 
        ),
        linear-gradient(
            45deg,
            orange,
            rgba(255,255,255,0) 
        );
    background-blend-mode: screen;
}

.title {
    padding: 15px;
    border: 2px solid white;
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
}

hr {
    width: 80%;
    background: gray;
    border: 1px solid gray;
}

a {
    text-decoration: none;
}

.text-hr {
    max-width: 150%;
    margin: 0px;
    background: aquamarine;
    border: 1px solid aquamarine;
}

.table-of-contents {
    display: grid;
    margin: 25px;
    margin-top: 0px;
    position: absolute;
    top: 50%; left: 0; bottom: 0; right: 0;
    grid-template-columns: 100fr 5fr 100fr 5fr 100fr;
}

.table-item {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    color: white;
    background: transparent;
    border: 2px solid white;
    transition: .3s;
    box-shadow: 0 0 10px #202020;
}

.table-item:hover {
    margin: 5px;
    color: black;
    border: 2px solid black;
}

.description {
    font-weight:normal
    font-size: 15px;
}

.header-space {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    color: black;
    font-size: 50px;
    width: 20%;
    text-align: center;
    border: 2px solid black;
}

.text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-box {
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    background: black;
}

.white {
    color: white;
}

.section {
    height: 95vh;
}
